.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input {
    width: 200px;
    margin-top: 3px;
}

.button {}

.registration_message {
    display: flex;
    align-items: baseline;
}

.registration_link {
    margin-left: 4px;
}