.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    margin-left: auto;

    padding: 0;
    background: rgba(217, 217, 217, 0.58);
    border: 0;
    border-radius: 5px;
}