.container {
    margin: 30px auto;
    max-width: 500px;
    padding: 0 15px;
    background-color: rgb(223, 236, 240);
    border: 1px solid rgb(86, 86, 86);
    border-radius: 5px;
}

.title {
    color: rgb(86, 86, 86);
}