.container {
    color: #111321;
    margin-left: 21px;
}

.title {
    margin-bottom: 20px;

    font-family: 'Manrope';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;

    text-align: center;
}

.form {
    display: flex;
    background-color: #ffffff;
    align-items: center;

    margin: 0 auto;
    border-radius: 3px;

    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.01em;

    border: 2px solid #55C875;
    border-radius: 7px;
    background-color: #55c87680;

    @media screen and (max-width: 767px) {
        padding-top: 10px;
        align-items: flex-start;
        flex-direction: column;
    }
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 10px;

    @media screen and (max-width: 767px) {
        margin: 0px;
        width: 100%;
        padding: 0 10px;
    }
}

.label+.label {

    @media screen and (max-width: 767px) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.input {
    display: block;
    padding: 3px 7px;
    background: #f5ffef;
    border: 1px solid #55C875;
    border-radius: 3px;
    margin-left: 10px;
}

.button {
    display: flex;
    align-items: center;
    padding: 9px 3px 9px 5px;
    border: 0;
    background: #55C875;
    border-radius: 5px;

    margin-left: 21px;

    font-size: 15px;
    line-height: 18px;

    color: #111321;

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-left: 0;
        justify-content: center;
    }

    & .icon {
        display: block;
    }
}

.registration_link {
    margin-left: 4px;
}