.form {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.104);
}

.label {
    display: flex;
    justify-content: space-between;

}

.label+.label {
    margin-top: 10px;
}

.input {
    border: 1px solid rgb(86, 86, 86);
    border-radius: 5px;
    padding: 2px 5px;
}

.submit {
    outline: none;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 5px;
    background-color: rgb(172, 220, 172);
    margin-top: 10px;
    padding: 2px 5px;

    &:active {
        background-color: rgb(135, 210, 135);
    }
}

.textButton {
    display: inline-block;
    position: relative;
}

.buttonLoader {
    position: absolute;
    right: -18px;
    top: 1px;
    margin-left: 10px;
}